/* Custom Navbar Styling */
.navbar {
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.90); /* Slightly transparent */
    padding: 12px 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.4rem;
    color: #f8f9fa !important;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: #f8f9fa !important;
    margin: 0 8px;
    transition: color 0.3s ease-in-out;
}

.nav-item .text-danger {
    font-weight: 600;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

